name: monarchmoney build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Lint
        uses: psf/black@stable
        with:
          src: monarchmoneycommunity
          version: "24.8.0"
  unit_tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: monarchmoneycommunity
    steps:
      - uses: actions/checkout@v4
      - name: Install Python 3
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run tests with unittest
        run: |
          python -m unittest tests/test_monarchmoney.py
